{{#if placeholderSelectable}}
  <option value="" selected>{{placeholder}}</option>
{{else if placeholder}}
  <option value="" disabled selected>{{placeholder}}</option>
{{/if}}
{{#each content as |option|}}
    {{#if optionValue}}
      <option value={{select-get option optionValue}}>{{ember-get option optionLabel}}</option>
    {{else}}
      <option value={{option}}>{{option}}</option>
    {{/if}}
{{/each}}
