{{#if placeholderSelectable}}
  <option value="" selected>{{placeholder}}</option>
{{else if placeholder}}
  <option value="" disabled selected>{{placeholder}}</option>
{{/if}}
{{#each content as |option|}}
    {{#if optionValuePath}}
      <option value={{select-get option optionValuePath}}>{{select-get option optionLabelPath}}</option>
    {{else}}
      <option value={{option}}>{{option}}</option>
    {{/if}}
{{/each}}
